
body{
    background-color: black;
}
.navbar{
display:flex;
justify-content: space-between;
width: 1776px;
}
.logo_img{
   width: 106px;
height: 64px;
top: 52px;
left: 154px;
gap: 0px;
opacity: 0px;
    margin-left: 150px;
}
.btn{
    margin-left: 1000px;
color: #FFF;
width: Hug (191.65px)px;
height: Hug (57.05px)px;
top: 49.62px;
left: 1097px;
padding: 17.53px 37.86px 17.53px 37.86px;
gap: 7.01px;
border-radius: 7.01px 0px 0px 0px;
opacity: 0px;
background: radial-gradient(101.07% 399.55% at 2.74% 150.27%, #0053B9 0%, #63A9FF 52.29%, #2D7FE4 98.5%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
box-shadow: 0px 0px 28.74px 0px #136EDE4D;
border-color: transparent;
align-items: center;
}

.whitebox{
    margin-left: 1000px;
    margin-top: 150px;
}

.toptext {
    font-family: Plus Jakarta Sans;
    font-size: 49.68px;
    font-weight: 800;
    line-height: 62.59px;
    text-align: left;
    color:#FFFFFF;
    width: 2000px;
    height: 187.29px;
  margin-top: 204.06px;
    margin-left: 160px;
    opacity: 0px;
}
.textbelowtop{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 21.53px;
    font-weight: 300;
    line-height: 27.12px;
    text-align: left;
}
.btnn{color: #FFF;
    width:280.96px;
    height: 70.2px;
    top: 558.05px;
    left: 160px;
    padding: 17.53px 37.86px 17.53px 37.86px;
    gap: 7.01px;
    border-radius: 7.01px 0px 0px 0px;
    opacity: 0px;
    background: radial-gradient(101.07% 399.55% at 2.74% 150.27%, #0053B9 0%, #63A9FF 52.29%, #2D7FE4 98.5%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 0px 0px 28.74px 0px #136EDE4D;
    border-color: transparent;
    align-items: center;
    }
    
.textbelowbutton{
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 19px;
    font-weight: 500;
    line-height: 23.94px;
}
.firstpart{
     display:flex; 
justify-content: space-between;
width: 1776px;
height: 1060px;


}
.players{
    color: #FFFFFF;
    font-family: Plus Jakarta Sans;
font-size: 29.99px;
font-weight: 700;
line-height: 37.78px;
text-align: center;

}
.bluerectangle{
width: 1440px;
height: 110px;
top: 787px;
gap: 0px;
opacity: 0px;
background-color: #151663;
display: flex;
justify-content: space-between;

}
.text2 {
    font-family: Plus Jakarta Sans;
font-size: 49.68px;
font-weight: 800;
line-height: 62.59px;
text-align: left;
color: #FFF;
}
.text3{
    color: #FFFFFF;
font-family: Plus Jakarta Sans;
font-size: 21.53px;
font-weight: 300;
line-height: 27.12px;
text-align: left;
}

.demobtn{
color: #FFF;
width: 280.96px;
height: 70.2px;
top: 1726px;
left: 1097px;
padding: 17.53px 37.86px 17.53px 37.86px;
gap: 7.01px;
border-radius: 7.01px 0px 0px 0px;
opacity: 0px;
background: radial-gradient(101.07% 399.55% at 2.74% 150.27%, #0053B9 0%, #63A9FF 52.29%, #2D7FE4 98.5%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
box-shadow: 0px 0px 28.74px 0px #136EDE4D;
border-color: transparent;
align-items: center;
}

.ktext{
    color: #FFFFFF;
    font-family: Plus Jakarta Sans;
font-size: 19px;
font-weight: 500;
line-height: 23.94px;
text-align: center;
width: 252px;
height: 24px;
top: 1815.2px;
left: 163px;
gap: 0px;
opacity: 0px;
}

.uitext{
    color: #FFFFFF;
    font-family: Plus Jakarta Sans;
font-size: 31.95px;
font-weight: 800;
line-height: 40.26px;
text-align: left;
width: 380px;
height: 80px;
top: 1444px;
left: 855px;
gap: 0px;
opacity: 0px;

}

.listtext {
    color: #FFFFFF;
    font-family: Plus Jakarta Sans;
font-size: 16px;
font-weight: 600;
line-height: 20.16px;
text-align: left;

}

.secondmain{
    display:flex;
justify-content: space-between;
width: 1700px;

}
.uiuxx{
    background-image: url(uiux.png);
    width: 883px;
height: 434px;
top: 1375px;
left: 774px;
gap: 0px;
border-radius: 29px 0px 0px 0px;
border: 3px 0px 0px 0px;
opacity: 0px;
border: 3px solid;
border-image-source: linear-gradient(90deg, rgba(255, 255, 255, 0.24) 0.74%, rgba(255, 255, 255, 0) 92.13%);

}
.right2{
    background-image: url(right2.png);
    border: 3px solid #FFFFFF26
}
.firstimg{
    background-image: url(firstimg.png);
    width: 2632.1px;
height: 1060.54px;
top: -156.93px;
left: -596px;
gap: 0px;
opacity: 0.42px;
}
.arrowright{
    width: 38px;
height: 38px;
top: 1790px;
left: 853px;
gap: 0px;
opacity: 0px;
}
.arrorwleft{
    width: 38px;
height: 38px;
top: 1790px;
left: 903px;
gap: 0px;
opacity: 0px;
}

.heading1{

color: #FFFFFF;
font-family: Plus Jakarta Sans;
font-size: 49.68px;
font-weight: 800;
line-height: 62.59px;
text-align: center;

}

.bigtext{
    color: #FFFFFF;
    font-family: Plus Jakarta Sans;
font-size: 22px;
font-weight: 800;
line-height: 27.72px;
text-align: center;
}

.smalltext{

 color: #FFFFFF;
font-family: Plus Jakarta Sans;
font-size: 17px;
font-weight: 300;
line-height: 21.42px;
text-align: left;

}

.firstrectangle{
background-image: url(blue.png);
 width: 478px;
height: 367px;
top: 2370px;
left: 516px;
gap: 0px;
border: 3px 0px 0px 0px;
opacity: 0px;
border: 3px solid #FFFFFF26
}
.onepic{
background-image: url(one.png);  
}
.twopic{
background-image: url(two.png);
}
.threepic{
 background-image: url(three.png);
}

.main3{
display:flex;
justify-content: space-between;
width: 1700px;
}

.bigrectangle{
background-image: url(blue2.png);
 width: 514px;
height: 366px;
top: 2882px;
left: 516px;
gap: 0px;
border: 3px 0px 0px 0px;
opacity: 0px;
border: 3px solid #FFFFFF26
}

.fourpic{
    background-image: url(four.png);
    background: #FFFFFFBF;

}

.horizontalrectangle {
    background-image: url(blue5.png);
    width: 758px;
height: 176px;
top: 2880px;
left: 536px;
gap: 0px;
border: 3px 0px 0px 0px;
opacity: 0px;

}
.fivepic{
    background-image: url(five.png);
}
.sixpic{
    background-image: url(six.png);
}
.lastrectangle{
background-image: url(blue6.png);
width: 752px;
height: 311px;
top: 3085px;
left: 537px;
gap: 0px;
border: 3px 0px 0px 0px;
opacity: 0px;
}
.belowboxes{
    display:flex;
    justify-content: space-between;
    width: 1700px;
}
.belowboxes2{
    display: block;
    justify-content: space-between;
}
.startingat{
color: #FFFFFF;
font-family: Plus Jakarta Sans;
font-size: 19px;
font-weight: 500;
line-height: 23.94px;
}
.together{
    display: block;
}

.list{
    color: #FFFFFF;
}
.bigtextbelowlist{
    color: #FFFFFF;
    font-family: Plus Jakarta Sans;
    font-size: 21.53px;
    font-weight: 300;
    line-height: 27.12px;
    text-align: left;
}
.smalltextbelowlist{
    color: #FFFFFF;
    font-family: Plus Jakarta Sans;
    font-size: 21.53px;
    font-weight: 300;
    line-height: 27.12px;
    text-align: left;
}
.textbtnlist{
display: flex;
justify-content: space-between;
width: 1700px;
}

.secondlastpart{
    background-image: url(shadyyyy.png)
    
}
.thebigtextbesidelogo{
    color: #FFFFFF;
    font-family: Plus Jakarta Sans;
font-size: 49.68px;
font-weight: 800;
line-height: 62.59px;
text-align: left;
}
.thesmalltextbesidelogo{
    color: #FFFFFF;
    font-family: Plus Jakarta Sans;
font-size: 21.53px;
font-weight: 300;
line-height: 27.12px;
text-align: left;
}
.demobtn{
color: #FFF;
width: 280.96px;
height: 70.2px;
top: 1726px;
left: 1097px;
padding: 17.53px 37.86px 17.53px 37.86px;
gap: 7.01px;
border-radius: 7.01px 0px 0px 0px;
opacity: 0px;
background: radial-gradient(101.07% 399.55% at 2.74% 150.27%, #0053B9 0%, #63A9FF 52.29%, #2D7FE4 98.5%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
box-shadow: 0px 0px 28.74px 0px #136EDE4D;
border-color: transparent;
 align-items: center;
 }
.startingat {
color: #FFFFFF;
 font-family: Plus Jakarta Sans;
font-size: 19px;
font-weight: 500;
line-height: 23.94px;
}
.tosidebyside{
    display:flex;
    justify-content: space-between;
    width: 1700px;
}

.questions{
background: #032E4E;
width: 357px;
height: 60px;
top: 5447px;
left: 828px;
gap: 0px;
border-radius: 9px 0px 0px 0px;
border: 2px 0px 0px 0px;
opacity: 0px;
border: 2px solid #FFFFFF0F
}

.lastpart{
    background-image: url(lastbluebox.png);
    width: 423px;
height: 518px;
top: 5400px;
left: 795px;
gap: 0px;
border-radius: 9px 0px 0px 0px;
border: 3px 0px 0px 0px;
opacity: 0px;
}

.lastbigtext{
    color: #FFFFFF;
    font-family: Plus Jakarta Sans;
font-size: 49.68px;
font-weight: 800;
line-height: 62.59px;
text-align: left;
}

.lastsmalltext{
    color: #FFFFFF;
    font-family: Plus Jakarta Sans;
font-size: 21.53px;
font-weight: 300;
line-height: 27.12px;
text-align: left;

}


.lastpartmain{
    display:flex;
    justify-content: space-between;
    width: 1700px;
}